.hide {
    display: none;
}

@media screen and (max-width:320px) {
    .container{
        margin: 0px 20px;
    }

    /* basic css */
    #header {
        margin-bottom: 15px;
    }

    #header .navbar .btn {
        display: none;
    }

    #header .navbar {
        margin: 0px 20px;
        justify-content: center;
    }

    #header .slider-content .title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #header .slider-content .discription {
        font-size: 0.7rem;
        margin-bottom: 15px;
    }

    #header .slider-content .btn a {
        font-size: 0.8rem;
        padding: 12px 15px;

    }

    /* header  */
    #faq-section {
        margin: 15px 0px;
    }

    #faq-section .faq-container {

        padding: 30px 0px;
    }

    #faq-section .faq-container .faq-header h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    #faq-section .faq-container .faq-header p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

    #faq-section .faq-container .faq-header {
        margin: 0px 20px;
    }

    #faq-section .faq-main-content .first-section,
    .third-section {
        flex-direction: column-reverse;
        margin: 20px;
        padding: 30px;

    }

    #faq-section .faq-main-content .second-section {
        flex-direction: column;
        margin: 20px;
        padding: 30px;
    }

    #faq-section .faq-main-content .text h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    #faq-section .faq-main-content .text p {
        color: rgb(13, 19, 33);
        font-size: 0.8rem;
        margin-bottom: 20px;

    }

    #faq-section .faq-main-content .text a {
        font-size: 0.9rem;
        padding: 8px 15px;

    }

    /* FAQ  */
    #inspiration {
        margin: 15px auto;
    }

    #inspiration .header {
        padding: 0px;
        margin: 20px auto;
    }

    #inspiration .header h1 {
        font-size: 1.5rem;

        margin-bottom: 24px;
    }

    #inspiration .header p {

        font-size: 0.8rem;

    }

    #inspiration .video {
        width: 100%;
        height: fit-content;
        padding: 10px;

    }

    #inspiration .video iframe {

        width: 100%;
        height: 100%;

    }
    /* inpiration */
    #target{
        margin: 15px 0px;
    }
    #target .target-section .target-item {
        flex-direction: column;
    }
    #target .target-item .css-section {
        max-width: 320px;
    }
}

/* sm device */

@media screen and (max-width:576px) and (min-width:320px) {
    .container {
        margin: 0px 20px;
    }

    /* basic css */
    #header {
        margin-bottom: 20px;
    }

    #header .navbar .btn {
        display: none;
    }

    #header .navbar {
        margin: 0px 20px;
        justify-content: center;
    }

    #header .slider-content .title {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    #header .slider-content .discription {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    #header .slider-content .btn a {
        font-size: 0.8rem;
        padding: 12px 15px;

    }


    /* header  */
    #faq-section {
        margin: 20px 0px;
    }

    #faq-section .faq-container {

        padding: 30px 0px;
    }

    #faq-section .faq-container .faq-header h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    #faq-section .faq-container .faq-header p {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

    #faq-section .faq-container .faq-header {
        margin: 0px 20px;
    }

    #faq-section .faq-main-content .first-section,
    .third-section {
        flex-direction: column-reverse;
        margin: 20px;
        padding: 30px;

    }

    #faq-section .faq-main-content .second-section {
        flex-direction: column;
        margin: 20px;
        padding: 30px;
    }

    #faq-section .faq-main-content .text h1 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    #faq-section .faq-main-content .text p {
        color: rgb(13, 19, 33);
        font-size: 0.8rem;
        margin-bottom: 20px;

    }

    #faq-section .faq-main-content .text a {
        font-size: 0.9rem;
        padding: 8px 15px;

    }

    /* FAQ */
    #inspiration {
        margin: 20px auto;
    }

    #inspiration .header {
        padding: 0px;
        margin: 20px auto;
    }

    #inspiration .header h1 {
        font-size: 1.5rem;
    }

    #inspiration .header p {
        font-size: 0.8rem;


    }

    #inspiration .video {
        max-width: 576px;
        max-height: 245px;
        padding: 15px;


    }

    #inspiration .video iframe {
        width: 100%;
        height: 100%;
    }
    /* inspiration */
    #target{
        margin: 20px 0px;
    }
    #target .target-section .target-item {
        flex-direction: column;
    }
    #target .target-item .css-section {
        max-width: 576px;
    }
}

/* l device */

@media screen and (max-width:768px) and (min-width:576px) {
    .container {
        margin: 0px 20px;
    }

    #faq-section .faq-container .faq-header {
        margin: 0px 20px;
    }

    #faq-section .faq-main-content .first-section,
    .third-section {
        flex-direction: column-reverse;
        align-items: start;
        margin: 20px;

    }

    #faq-section .faq-main-content .second-section {
        flex-direction: column;
        align-items: start;
        margin: 20px;
    }

    /* FAQ  */
    #inspiration .video {
        max-width: 768px;
        max-height: 326px;
        padding: 15px;


    }

    #inspiration .video iframe {
        width: 100%;
        height: 100%;
    }
    /* inspiration */
    
    #target .target-section .target-item {
        flex-direction: column;
    }
    #target .target-item .css-section {
        max-width: 768px;
    }
    
}

/* xl device */
@media screen and (max-width:992px) and (min-width:768px) {
    .container {
        margin: 0px 20px;
    }
    /* basic css */


}